<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<form action="/login" method="POST">
    <div>
        <label for="name">name</label>
        <input type="name" id="name" name="name" required>
    </div>
    <div>
        <label for="password">password</label>
        <input type="password" id="password" name="password" required>
    </div>
    <button type="submit">Login</button>
    <a href="/register">Register</a>
</form>