
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="login.css">
<h1>Login</h1>

<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

<div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/login" method="POST">

                <h1>Sign In</h1>
                <% for (let i=0; i<errors.length; i++) { %>
                    <li class="error-message"><%= errors[i]%> </li>
                <% } %>
                <div class="social-container">
                    <a href="https://twitter.com/ElectraLeague" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                    <a href="https://www.twitch.tv/electraleague" target="_blank" class="social"><i class="fab fa-twitch"></i></a>
                </div>
                <input placeholder="name" type="name" id="name" name="name" />
                <input placeholder="password" type="password" id="password" name="password" required/>
                <button type="submit" class="si">Sign In</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To Keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, User!</h1>
                    <p>Enter your personal details and start sample text text. <br> If you are an admin login <a class="admin" href="/admin_login">here.</a></p>
                    <a href="/register"><button class="ghost" id="signUp">Sign Up</button></a>
                </div>
            </div>
        </div>
    </div>
