
<link rel="stylesheet" href="style.css">
<link rel="stylesheet" href="login.css">
<h1>Login</h1>
<% if (messages.error) { %>
    <%= messages.error %>
<% } %>
<link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.10.2/css/all.css">

<div class="container" id="container">
        <div class="form-container sign-in-container">
            <form action="/register" method="POST">
                <h1>Sign Up</h1>
                <div class="social-container">
                    <a href="https://www.instagram.com/zaidirfankhan/?hl=en" target="_blank" class="social"><i class="fab fa-twitch"></i></a>
                    <a href="https://twitter.com/ZaidIrfanKhan" target="_blank" class="social"><i class="fab fa-twitter"></i></a>
                </div>
                <input placeholder="name" type="name" id="name" name="name" />
                <input placeholder="email" type="email" id="email" name="email" />
                <input placeholder="password" type="password" id="password" name="password" required/>
                <button type="submit" class="si">Sign Up</button>
            </form>
        </div>
        <div class="overlay-container">
            <div class="overlay">
                <div class="overlay-panel overlay-left">
                    <h1>Welcome Back!</h1>
                    <p>To Keep connected with us please login with your personal info</p>
                    <button class="ghost" id="signIn">Sign In</button>
                </div>
                <div class="overlay-panel overlay-right">
                    <h1>Hello, User!</h1>
                    <p>Already have an account? Login!</p>
                    <a href="/login"><button class="ghost" id="signUp">Login</button></a>
                </div>
            </div>
        </div>
    </div>


