@import url('https://fonts.googleapis.com/css2?family=Roboto&display=swap');
@import "https://fonts.googleapis.com/css?family=Poppins:300,400,500,600,700";
html{
    scroll-behavior: smooth;
  }

*{
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

  .faq-wrapper{
    height: 7rem;
    width: 100vw;
    height: 7rem;
    background-size: cover;
    background-repeat: no-repeat!important;
    display: flex;
    justify-content: center;
}

/***** RESETS *****/
body {
    font-family: 'Poppins', sans-serif;
    background: #1b1b1b;
    }
    
    p {
    font-family: 'Raleway', sans-serif;
    font-size: 1.1em;
    font-weight: 300;
    line-height: 1.7em;
    color: #999;
    }

ul, li {
    list-style: none;
}

#container {
    width: 60%;
    margin: 0 20%;
    overflow: auto;
    margin-top:6rem;
    padding-bottom: 6rem;
}

i {
    margin-right: 1em;
}

.faq li {
    padding: 1.25em;
    color: white;
}

.faq li.q {
    font-size: 120%;
    border-bottom: 1px rgb(41, 41, 41) solid;
    cursor: pointer;
}

.faq li.q:nth-child(1),
.faq li.q:nth-child(5),
.faq li.q:nth-child(9),
.faq li.q:nth-child(13),
.faq li.q:nth-child(17){
    background: rgb(22,22,22);
}

.faq li.a {
    color: #6bba75;
    background: rgb(22,22,22);
    display: none;
}

img {
    margin-right: .5em;
}
