/* Google fonts */
@import url('https://fonts.googleapis.com/css?family=Raleway&display=swap');
@import url('https://fonts.googleapis.com/css?family=Source+Sans+Pro:400,700&display=swap');
/* Basic styling */

* {
  margin: 0;
  padding: 0;
  font-family: 'Source Sans Pro', sans-serif;
}
body {
  font-family: 'Source Sans Pro', sans-serif;
  color: #171616!important;
  background: #0c0c0c !important;
  overflow-x: hidden;
  z-index: -100;
}
BODY {
    -webkit-font-smoothing: antialiased;
    z-index: -100;
  }
  
  canvas {
    z-index: -100;
    position: relative;
    top: 0px;
  }
  canvas {
    display: block;
  }
  #particles-js{
  height: 100%;
  z-index: -100;
  min-height: 100%;
  width: 100%;
  min-width: 100%;
 }
  .caption {
    width: 100%;
    max-width: 100%;
    position: absolute;
    top: 38%;
    z-index: 1;
    color: white;
    animation: fadeIn 2s;
  }
  
  .caption h1 {
    font-size: 3.8rem;
    font-weight: 700;
    letter-spacing: .3rem;
    text-shadow: .1rem .1rem .8rem black;
  }
  
  .caption h3 {
    font-size: 2rem;
    text-shadow: .1rem .1rem .5rem black;
    color:rgb(226, 226, 226)!important;
    margin-left: -1rem;
    margin-top: -1rem;
  }
  
  .info-col{
    display: flex;
    flex-direction: column;
  }

  .col-12{
      position: relative;
      top: 2rem;
  }

  .stem-icons{
      position: relative;
      top: 22rem;
  }

  .rights{
    position: relative;
    top: 23rem;
}

.links{
    display: flex;
    justify-content: space-evenly;
    font-size:1rem;
    position: relative;
    top: 4rem;
    flex-wrap: wrap;
}

.shrink{
    width: 100%;
    justify-content: center;
    display: flex;
}
.link-1{
    margin-left: -19rem;
    position: absolute;
}
.link-2{
    margin-left: -8rem;
    position: absolute;
}
.link-3{
    margin-left: -3rem;
    position: absolute;
}
.link-4{
    margin-left:7rem;
    position: absolute;
}

.link-5{
  margin-left:3rem;
  position: absolute;
}
.link-6{
  margin-left:13rem;
  position: absolute;
}
.links a{
  color: #727272!important;
  font-size: 1.5rem;
  transition: 300ms ease all;
}

.links a:hover{
  color: #aaaaaa!important;
}

.icon-wrapper{
  display: flex;
  justify-content: center;
  flex-direction: row;
}
.icon-wrapper li {
  list-style-type: none;
  text-decoration: none;
}

.social-icon-1{
  margin-left: -1rem;
}
.social-icon-1{
  margin-left: 1rem;
}

@media(max-width:666px) {
 h1.caption-title{
    font-size: 2.7rem;
  }
  h3.col-12{
    font-size: 2rem;
  }
  .links a{
    font-size: 1rem;
  }
  .link-1{
    margin-left: -12rem;
    position: absolute;
}
.link-2{
    margin-left: -5rem;
    position: absolute;
}
.link-3{
    margin-left: -2rem;
    position: absolute;
}
.link-4{
    margin-left:2rem;
    position: absolute;
}

.link-5{
  margin-left:6rem;
  position: absolute;
}
.link-6{
  margin-left:9rem;
  position: absolute;
}
}


@media(max-width:415px) {
  h1.caption-title{
     font-size: 2rem;
   }
   h3.col-12{
     font-size: 1.3rem;
   }
   .links a{
     font-size: .8rem;
   }
   .link-1{
     margin-left: -9.5rem;
     position: absolute;
 }
 .link-2{
     margin-left: -4.2rem;
     position: absolute;
 }
 .link-3{
     margin-left: -2rem;
     position: absolute;
 }
 .link-4{
     margin-left:1.5rem;
     position: absolute;
 }
 
 .link-5{
   margin-left:4.8rem;
   position: absolute;
 }
 .link-6{
   margin-left:7rem;
   position: absolute;
 }
 }