.top-nav{
    position: relative;
    top: 0rem;
}


.search-container {
    width: 490px;
    display: block;
    margin: 0 auto;
  }
  
  input#search-bar {
    margin: 0 auto;
    width: 100%;
    height: 45px;
    padding: 0 20px;
    font-size: 1rem;
    border: 1px solid #D0CFCE;
    outline: none;
  }
  input#search-bar:focus {
    border: 1px solid #008ABF;
    transition: 0.35s ease;
    color: #008ABF;
  }
  input#search-bar:focus::-webkit-input-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus::-moz-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  input#search-bar:focus:-ms-placeholder {
    transition: opacity 0.45s ease;
    opacity: 0;
  }
  
  .search-icon {
    position: relative;
    float: right;
    width: 75px;
    height: 75px;
    top: -62px;
    right: -45px;
  }
  
  .btn-hide{
    position: relative;
    left: 7rem!important;
    top: -1.2rem;
  }
  .user-container{
    background: rgb(22, 22, 22);
    width: 100%!important;
    padding: 3rem;
    justify-content: center!important;
    flex-direction: column!important;
    display: flex!important;
  }

  .logout{
    position: relative;
    left: 0!important;
    margin-top: 1.3rem!important;
  }

  .form-container form{
    background: rgb(22,22,22);
    display: flex;
    flex-direction: column;
    padding: 0 50px;
    height: 100%;
    position: relative;
}

.form-container input{
    background: #eee;
    border: none;
    padding: 12px 15px;
    margin: 8px 0;
    width: 100%;
}

.form-container input{
    background-color: rgb(41, 41, 41);
}

input::-webkit-input-placeholder {
    color: #999;
}
input:focus::-webkit-input-placeholder {
    color: rgb(255, 251, 251);
    
}
/* Firefox < 19 */
input:-moz-placeholder {
    color: #999;
}
input:focus:-moz-placeholder {
    color: rgb(255, 251, 251);
}
/* Firefox > 19 */
input::-moz-placeholder {
    color: #999;
}
input:focus::-moz-placeholder {
    color: rgb(255, 251, 251);
}

/* Internet Explorer 10 */
input:-ms-input-placeholder {
    color: #999;
}
input:focus:-ms-input-placeholder {
    color: rgb(255, 251, 251);
}

input{
    transition: 300ms ease all;
}
input{
    caret-color: rgb(21, 255, 0);
}
input:hover{
    background: rgb(88,88,88);
    border: 1px solid rgb(0, 255, 0)
}
input:focus{
    background: rgb(88,88,88);
}

form label{
    color: rgb(148, 148, 148);
}

.form-btn{
    color: white!important;
}
.form-btn:hover{
    background-color:rgb(118, 213, 115)!important;
}